<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tbody>
    <tr>
        <td style="padding:20px;width:25%;vertical-align:middle"><img src="images/needle_light.png" alt="needlelight"
                                                                      width="160"></td>
        <td class="resume-item-details" style="padding:0px;width:100%;vertical-align:middle">
            <p>
                <a href="https://arxiv.org/abs/2106.13090">Sparse Needlets for Lighting Estimation with Spherical
                    Transport Loss</a>

                <br>
                <a href="https://fnzhan.com/">Fangneng Zhan*</a>,
                <strong>Changgong Zhang*</strong>,
                <!--                <a href="https://wbhu.github.io/">Wenbo Hu</a>,-->
                Wenbo Hu,
                Shijian Lu,
                Feiying Ma,
                Xuansong Xie,
                Ling Shao
                <br>
                <em>ICCV</em>, 2021
                <br>
                <a href="https://github.com/fnzhan/EMLight">code</a>
            </p>
            <p></p>
        </td>
    </tr>

    <tr>
        <td style="padding:20px;width:25%;vertical-align:middle"><img src="images/emlight.png" alt="emlight"
                                                                      width="160"></td>
        <td class="resume-item-details" style="padding:0px;width:100%;vertical-align:middle">
            <p>
                <a href="https://arxiv.org/abs/2012.11116">EMLight: Lighting Estimation via Spherical Distribution
                    Approximation</a>

                <br>
                <a href="https://fnzhan.com/">Fangneng Zhan*</a>,
                <strong>Changgong Zhang*</strong>,
                Yingchen Yu,
                Yuan Chang,
                Shijian Lu,
                Feiying Ma,
                Xuansong Xie
                <br>
                <em>AAAI</em>, 2021
                <br>
                <a href="https://github.com/fnzhan/EMLight">code</a>
            </p>
            <p></p>
        </td>
    </tr>

    <tr>
        <td style="padding:20px;width:25%;vertical-align:middle"><img src="images/CDGConv.jpeg" alt="CDGConv"
                                                                      width="160"></td>
        <td class="resume-item-details" style="padding:0px;width:100%;vertical-align:middle">
            <p>
                <a href="https://arxiv.org/abs/2107.07797">Conditional Directed Graph Convolution for 3D Human Pose
                    Estimation</a>

                <br>
                <a href="https://wbhu.github.io/">Wenbo Hu*</a>,
                <strong>Changgong Zhang*</strong>,
                <!--                <a href="https://fnzhan.com/">Fangneng Zhan</a>,-->
                Fangneng Zhan,
                Lei Zhang,
                Tien-Tsin Wong
                <br>
                <em>ACM MM</em>, 2021
                <br>
                <a href="https://wbhu.github.io/projects/CondDGConv">project</a>
            </p>
            <p></p>
        </td>
    </tr>

    <tr>
        <td style="padding:20px;width:25%;vertical-align:middle"><img src="images/EuroVis.png" alt="EnsembleVis"
                                                                      width="160"></td>
        <td class="resume-item-details" style="padding:0px;width:100%;vertical-align:middle">
            <p>
                <a href="https://graphics.tudelft.nl/Publications-new/2017/ZCHEV17/">Overview + Detail Visualization for
                    Ensembles of Diffusion Tensor</a>

                <br>
                <strong>Changgong Zhang</strong>,
                Matthan Caan,
                Thmoas Höllt,
                Elmar Eisemann,
                Anna Vilanova
                <br>
                <em>EuroVis</em>, 2017
                <br>
                <a href="https://sourceforge.net/projects/viste/">project</a>
            </p>
            <p></p>
        </td>
    </tr>

    <tr>
        <td style="padding:20px;width:25%;vertical-align:middle"><img src="images/Tender.png" alt="GlyphVis"
                                                                      width="160"></td>
        <td class="resume-item-details" style="padding:0px;width:100%;vertical-align:middle">
            <p>
                <a href="https://graphics.tudelft.nl/Publications-new/2015/ZSLEV15/">Glyph-based Comparative
                    Visualization for Diffusion Tensor Fields</a>
                <br>
                <strong>Changgong Zhang</strong>,
                Thmoas Schultz,
                Kai Lawonn,
                Elmar Eisemann,
                Anna Vilanova
                <br>
                <em>IEEE VIS</em>, 2016
                <br>
                <a href="https://sourceforge.net/projects/viste/">project</a>
            </p>
            <p></p>
        </td>
    </tr>

    </tbody>
</table>